*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #f8f8f8;
    font-family: 'Poppins';

}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 130px;
    background-color: white;
}
.nav ul{
    display: flex;
    list-style: none;
}
.nav ul li {
    margin: 0 10px;
}

.background {
    background-color: #929292;
    text-align: center;
    color: white;
    font-size: large;
    height: 400px;
}
.background .head {
    padding: 3px;
    padding-top: 70px;
    font-size: 50px;

}
.background .one {
    padding: 8px;
    font-weight: 100;
    color: rgba(254, 254, 254, .6);
}
.background .two {
    font-weight: 100;
    color: rgba(254, 254, 254, .6);
}
.background .three {
    color: #ffffff;
    display: inline-flex;
    padding-top: 70px;
    text-decoration: none;
    background-color: #878787;
    position: relative;
    top: 20px;
    padding: 5px 25px;
    border-radius: 50px;
    margin: 5px 0;
    font-size: 15px;
    
    
}
.center {
    display: flex;
    justify-content: center;
    margin-top: -90px;
}
.row {
    display: flex;
    text-align: center;
    width: 900px;
}

.column {
    flex: 33.33%;
    box-shadow: 0 0 20px rgba(0, 0, 0, .8);
    text-align: center;
    background-color: #ffffff;
    padding: 35px 20px;
    /* height: 300px; */
}
.row .card2 {
    margin: 0 20px;
}
.card {
    /* width: 180px; */

}
.card i{
    font-size: 70px;
    color: rgba(10, 10, 10, .8);
}
.card h2{
    padding-top: 30px;
    color: rgba(10, 10, 10, .7);
}
.card p {
    padding-top: 10px;
    color: rgba(10, 10, 10, .5);
}